[submodule "mpv-assrt-git"]
	path = mpv-assrt-git
	url = ssh://aur@aur.archlinux.org/mpv-assrt-git.git
[submodule "mpv-autosub-git"]
	path = mpv-autosub-git
	url = ssh://aur@aur.archlinux.org/mpv-autosub-git.git
[submodule "mpv-autosub-zh"]
	path = mpv-autosub-zh
	url = ssh://aur@aur.archlinux.org/mpv-autosub-zh.git
[submodule "archlinuxcn-mirrorlist"]
	path = archlinuxcn-mirrorlist
	url = ssh://aur.archlinux.org/archlinuxcn-mirrorlist.git
